    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    .main {
        background-image: url("./images/main.jpg");
        height: 700px;
        position: relative;
        opacity: 0.7;
        z-index: -1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .container :not(.NonOpaque) {
        opacity: 1.5;
    }
    
    .portfolio-box :hover {
        opacity: 0.5;
    }
    
    .line {
        height: 70px;
        background-color: darkblue;
        text-align: center;
        color: white;
        position: sticky;
        top: 0px;
    }
    
    .fullwrap img {
        width: 100%;
    }
    
    .fullcap {
        box-sizing: border-box;
        width: 402px;
        height: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        text-align: center;
        padding-top: 30%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
    }
    
    .fullcap {
        visibility: none;
        opacity: 0;
        transition: opacity 0.4s;
    }
    
    .fullwrap:hover .fullcap {
        visibility: visible;
        opacity: 0.7;
    }
    
    .btn {
        font-size: medium;
    }
    
    #map {
        height: 100%;
    }