* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    background-image: url("main.jpg");
    height: 700px;
    position: relative;
    opacity: 0.7;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container :not(.NonOpaque) {
    opacity: 1.5;
}

.portfolio-box :hover {
    opacity: 0.5;
}